{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: myapp-ingress
spec:
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /nginx
        pathType: Prefix
        backend:
          service:
            name: nginx-service
            port:
              number: {{ .Values.nginx.port }}
      - path: /node
        pathType: Prefix
        backend:
          service:
            name: node-service
            port:
              number: {{ .Values.node.port }}
{{- end }}
